[uwsgi]
uid = {{oval_user}}
gid = {{oval_group}}
ssl-socket = 127.0.0.1:{{app_server_port}},{{app_dir}}/server.crt,{{app_dir}}/server.key,{{ssl_cipher_suite}}
ssl-socket = {{ansible_eth1['ipv4']['address']}}:{{app_server_port}},{{app_dir}}/server.crt,{{app_dir}}/server.key,{{ssl_cipher_suite}}
master = true
enable-threads = True
chdir = {{app_dir}}
venv = {{venv_dir}}
module = manage:app
plugin = python
for-readline = {{oval_vars}}
  env = %(_)
endfor =
