---
- name: Install Postgres
  package:
    name: "{{postgres_package}}"
    update_cache: yes

- name: Install Postgres deps
  package: 
    name: "{{ansible_postgres_deps}}"
    update_cache: yes

- name: Initialize Postgres (RHEL)
  command: "/usr/pgsql-{{postgres_version}}/bin/postgresql{{postgres_version_no_dot}}-setup initdb"
  args:
    creates: "{{pg_hba_conf}}"
  when: ansible_os_family == "RedHat"

- name: Create pg_hba.conf file
  copy: 
    src: files/pg_hba.conf
    dest: "{{pg_hba_conf}}"
  notify: Restart postgres

- name: Modify postgresql.conf to listen on all interfaces
  lineinfile:
    dest: "{{postgresql_conf}}"
    regexp: "^listen_addresses ="
    line: "listen_addresses = '{{ansible_eth1['ipv4']['address']}}, 127.0.0.1'"
  notify: Restart postgres

- name: Modify postgresql.conf to enable ssl
  lineinfile:
    dest: "{{postgresql_conf}}"
    regexp: "^ssl = "
    line: "ssl = true"
  notify: Restart postgres

- name: Modify postgresql.conf to enable strong ciphers
  lineinfile:
    dest: "{{postgresql_conf}}"
    regexp: "^ssl_ciphers = "
    line: "ssl_ciphers = '{{ssl_cipher_suite}}'"
  notify: Restart postgres

- name: Copy certbot SSL cert for postgres
  copy:
    src: "{{lets_encrypt_pub_key}}"
    dest: "{{pgconfdir}}/server.crt"
    owner: postgres
    group: postgres
    mode: 0644
    remote_src: True
    follow: True
  notify: Restart postgres

- name: Copy certbot SSL key for postgres
  copy:
    src: "{{lets_encrypt_priv_key}}"
    dest: "{{pgconfdir}}/server.key"
    owner: postgres
    group: postgres
    mode: 0400
    remote_src: True
    follow: True
  notify: Restart postgres

- name: Add postgres prehook for certbot renewal
  blockinfile:
    create: True
    dest: "/etc/letsencrypt/hooks/pre.sh"
    mode: 0755
    marker: "# {mark} ANSIBLE MANAGED BLOCK postgres pre hook"
    block: |
      systemctl stop {{postgres_service}}

- name: Add postgres posthook for certbot renewal
  blockinfile:
    create: True
    dest: "/etc/letsencrypt/hooks/post.sh"
    mode: 0755
    marker: "# {mark} ANSIBLE MANAGED BLOCK postgres post hook"
    block: |
      cp {{lets_encrypt_priv_key}} {{pgconfdir}}/server.key
      cp {{lets_encrypt_pub_key}} {{pgconfdir}}/server.crt
      systemctl start {{postgres_service}}

##This play makes some assumptions that each server will have a pub/priv nic
##and postgres will only accept connections from the priv nic (eth1)
- name: Open firewalld for postgres
  firewalld:
    service: postgresql
    state: enabled
    permanent: true
    immediate: true
    zone: internal

- name: Start/enable Postgres
  service:
    name: "{{postgres_service}}"
    state: started
    enabled: yes

- name: Create database user
  postgresql_user: 
    name: "{{db_user}}"
    password: "{{db_pass}}"
    login_unix_socket: /var/run/postgresql/
  become: true
  become_user: postgres

- name: Create database
  postgresql_db:
    name: "{{db_name}}"
    owner: "{{db_user}}"
    login_unix_socket: /var/run/postgresql/
  become: true
  become_user: postgres

- name: Create DB backup directory
  file: 
    path: "{{pgdata}}/backups"
    state: directory
    owner: postgres
    group: postgres
    mode: 0755
  
- name: Create DB backup job
  cron:
    name: "db backup" 
    cron_file: db_backup
    special_time: daily
    user: postgres
    state: present
    job: "/usr/bin/pg_dump {{db_name}}  | xz >  {{pgdata}}/backups/{{db_name}}_db_{{ansible_fqdn}}_$(date +\\%Y\\%m\\%d).sql.xz"


